.mylabel {
        display: inline-block;
        width: 100px;
        text-align: right;
}

.login_background{
        background: url("../images/horsergo.jpg");

        background-position: center 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;

        margin-top:15%;

}

