.mylabel {
        display: inline-block;
        width: 100px;
        text-align: right;
}

.login_background{
        width: auto;
        height: auto;

        background:cornflowerblue;
        background-size:auto;
}

