<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="tabbable" id="tabs-892057">
				<ul class="nav nav-tabs">
					<li class="active">
						 <a href="#panel-228624" data-toggle="tab">Section 1</a>
					</li>
					<li>
						 <a href="#panel-219690" data-toggle="tab">Section 2</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-228624">
						<p>
							I'm in Section 1.
						</p>
					</div>
					<div class="tab-pane" id="panel-219690">
						<p>
							Howdy, I'm in Section 2.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>